<!doctype html>
<html>
<head>
<title>Weather Trends - Today</title>
<meta name="description" content="Contains info about today's weather">
</head>

<body>
    <p>Placeholder text.<br>
        If you reached this page, then the data has been successfully stored.<br> 
        You should be able to see new files, if not replacement data in existing files. <br>
        Now it's all a matter of displaying the data. To start, you can make this page <br>
        display the weather details for the today, and include an update button.
    </p>
</body>

</html>
