<!doctype html>
<html>
<head>
    <title>Weather Trends</title>
    <meta name="description" content="Contains info about today's weather">
    <link rel="stylesheet" type="text/css" href="static/style.css" />
</head>
<body>
    <center>
    <h1>Which range of data do you want to see?</h1>
    <form action = "/48hourtables" method = "get">
        <!--Make a submit button with the text Register-->
        <input type="submit" value="48 Hour Forecast">
    </form>
    <br>
    <form action = "/7daytable" method = "get">
        <!--Make a submit button with the text Register-->
        <input type="submit" value="7 Day Forecast">
    </form>
    </center>

</body>