<!doctype html>
<html>

<head>
<title>Weather Trends</title>
<meta name="description" content="A startup page for the Weather Trends application">
</head>

<body>
    <!--Add a header for the registration form-->
    <center><h2>Weather Trends</h2>

    <label>This is a simple program that gathers and display weather data using the provided API from:</label><br><br>
    <img src = "static/pirate-weather-image.png", alt="Pirate Weather API image", width="375", height="96"><br><br><br>

    <label>Click the button below to get started.</label><br>
    <label>Please note that this initial process will take time, <br>so please only click once and wait.</label><br><br>

    <!--Make a form with person action and get method-->
    <form action = "/landing" method = "get">
        <!--Make a submit button with the text Register-->
        <input type="submit" value="Get Data!">
    </form>
    </center>
    
</body>

</html>
